<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Atualizar caminho do respectivo ponto</h1>
    <form action="/atualizar_caminho" method="post">
        <label>ID:</label>
        <input type="text" name="id" placeholder="ID" style="margin-left: 10px;">
        <label style="margin-right: 5px;">X</label>
        <input type="text" name="coord_x" placeholder="Coordenada X" style="margin-left: 10px;">
        <label style="margin-right: 5px;">Y</label>
        <input type="text" name="coord_y" placeholder="Coordenada Y"style="margin-left: 10px;">
        <label style="margin-right: 5px;">Z</label>
        <input type="text" name="coord_z" placeholder="Coordenada Z"style="margin-left: 10px;">
        <label style="margin-right: 5px;">R</label>
        <input type="text" name="rotation" placeholder="Rotação do Braço"style="margin-left: 10px;">
        <button type="submit" style="margin-left: 15px;">Enviar</button>
    </form>
</body>
</html>